<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aaaa1111-aaaa-1111-aaaa-111111111111" Alias="alertBanner" Level="1">
  <Info>
    <Name>Alert Banner</Name>
    <Icon>icon-alert color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[A banner that announces something time-sensitive at the top of a page.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Compositions>
      <Composition Key="bbbb2222-bbbb-2222-bbbb-222222222222">baseSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aaaa1111-0101-4000-8000-000000000101</Key>
      <Name>Alert Heading</Name>
      <Alias>alertHeading</Alias>
      <Definition>dddd1111-dddd-1111-dddd-111111111111</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The line an editor reads first.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content/message">Message</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>aaaa1111-0102-4000-8000-000000000102</Key>
      <Name>Alert Dismissible</Name>
      <Alias>alertDismissible</Alias>
      <Definition>dddd2222-dddd-2222-dddd-222222222222</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Let a visitor close the banner for the rest of the session.]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="content/message">Message</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>aaaa1111-0103-4000-8000-000000000103</Key>
      <Name>Alert Severity</Name>
      <Alias>alertSeverity</Alias>
      <Definition>dddd3333-dddd-3333-dddd-333333333333</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How loudly the banner presents itself.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>aaaa1111-0001-4000-8000-000000000001</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>aaaa1111-0002-4000-8000-000000000002</Key>
      <Caption>Message</Caption>
      <Alias>content/message</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>aaaa1111-0003-4000-8000-000000000003</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
