<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d55d5555-d55d-5555-d55d-555555555555" Alias="[BlockList] Page Body" Level="2">
  <Info>
    <Name>[BlockList] Page Body</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a11a1111-a11a-1111-a11a-111111111111"
    },
    {
      "contentElementTypeKey": "a22a2222-a22a-2222-a22a-222222222222",
      "settingsElementTypeKey": "a33a3333-a33a-3333-a33a-333333333333"
    }
  ],
  "useLiveEditing": false
}]]></Config>
</DataType>
