<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ffff1111-ffff-1111-ffff-111111111111" Alias="topicTag" Level="1">
  <Info>
    <Name>Topic Tag</Name>
    <Icon>icon-tag color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[A tag an editor picks when classifying an article.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>
