<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d66d6666-d66d-6666-d66d-666666666666" Alias="[BlockGrid] Hero Slides" Level="2">
  <Info>
    <Name>[BlockGrid] Hero Slides</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a33a3333-a33a-3333-a33a-333333333333",
      "settingsElementTypeKey": "a44a4444-a44a-4444-a44a-444444444444"
    },
    {
      "contentElementTypeKey": "a22a2222-a22a-2222-a22a-222222222222"
    }
  ],
  "useLiveEditing": false
}]]></Config>
</DataType>
