<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a22a2222-a22a-2222-a22a-222222222222" Alias="mediaRow" Level="1">
  <Info>
    <Name>Media Row</Name>
    <Icon>icon-brick color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Compositions>
      <Composition Key="a66a6666-a66a-6666-a66a-666666666666">spacingProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a22a2222-0101-4000-8000-000000000101</Key>
      <Name>Media Caption</Name>
      <Alias>mediaCaption</Alias>
      <Definition>dddd1111-dddd-1111-dddd-111111111111</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a22a2222-0001-4000-8000-000000000001</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
