<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a44a4444-a44a-4444-a44a-444444444444" Alias="mediaRowSettings" Level="1">
  <Info>
    <Name>Media Row Settings</Name>
    <Icon>icon-brick color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a44a4444-0101-4000-8000-000000000101</Key>
      <Name>Settings Width</Name>
      <Alias>settingsWidth</Alias>
      <Definition>dddd1111-dddd-1111-dddd-111111111111</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a44a4444-0001-4000-8000-000000000001</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
