<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dddd3333-dddd-3333-dddd-333333333333" Alias="alertSeverity" Level="1">
  <Info>
    <Name>Alert Severity</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUiAlias>Umb.PropertyEditorUi.Dropdown</EditorUiAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>0</SortOrder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Info",
    "Warning",
    "Critical"
  ],
  "multiple": false,
  "default": "Info"
}]]></Config>
</DataType>
