<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dddd3333-dddd-3333-dddd-333333333333" Alias="Alert Severity" Level="2">
  <Info>
    <Name>Alert Severity</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Info",
    "Warning",
    "Critical"
  ],
  "multiple": false
}]]></Config>
</DataType>
