<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b22b2222-b22b-2222-b22b-222222222222" Alias="pageBase" Level="1">
  <Info>
    <Name>Page Base</Name>
    <Icon>icon-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b22b2222-0101-4000-8000-000000000101</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>dddd1111-dddd-1111-dddd-111111111111</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="seo">SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b22b2222-0001-4000-8000-000000000001</Key>
      <Caption>SEO</Caption>
      <Alias>seo</Alias>
      <Type>Tab</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
