<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b11b1111-b11b-1111-b11b-111111111111" Alias="topicFolder" Level="1">
  <Info>
    <Name>Topic Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="eeee1111-eeee-1111-eeee-111111111111" SortOrder="0">articlePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
