<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bbbb2222-bbbb-2222-bbbb-222222222222" Alias="baseSettings" Level="1">
  <Info>
    <Name>Base Settings</Name>
    <Icon>icon-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Fields every block carries.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bbbb2222-0101-4000-8000-000000000101</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>dddd4444-dddd-4444-dddd-444444444444</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Summary used by search engines.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="seo">SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bbbb2222-0102-4000-8000-000000000102</Key>
      <Name>Meta Keywords</Name>
      <Alias>metaKeywords</Alias>
      <Definition>dddd1111-dddd-1111-dddd-111111111111</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Terms this page should be found by.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="social">Social</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bbbb2222-0001-4000-8000-000000000001</Key>
      <Caption>SEO</Caption>
      <Alias>seo</Alias>
      <Type>Tab</Type>
      <SortOrder>100</SortOrder>
    </Tab>
    <Tab>
      <Key>bbbb2222-0002-4000-8000-000000000002</Key>
      <Caption>Social</Caption>
      <Alias>seo/social</Alias>
      <Type>Group</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
